<!DOCTYPE html>
<html lang="en">

<!-- index-254:30-->
<head>
	<!--===== Meta Tag =====-->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Runaway - Personal Portfolio HTML Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="business, photographer, photographer, documentary photography, potrait photography, Videography, Dhavitto, Event photography, best photographer in Nigeria, Graphic designer, Events photographer, wedding photographer, Pixzel, Photo shoots">
	<meta name="author" content="root">

	 <!--	Css Links
    ==================================================-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/jquery.pagepiling.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css" id="color-change">

     <!-- Favicon 
    ==================================================-->
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">

      <!--	Title
    ==================================================-->
	<title>Dhavitto Pixzel - Personal Portfolio </title>

</head>
<body id="top" class="page-load">
	<!--	Preloader
	==================================================-->
	<!-- <div class="preloader">
		<div class="lds-css ng-scope">
			<div class="lds-spinner" style="100%;height:100%">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	 -->
	<!--	Start Sidebar
	==================================================-->
	<div id="mysidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="flaticon-close-button"></i></a>
	  <img class="nav-logo" src="/images/logo/14.png" alt="image">
	  	<ul id="menu">
			<li data-menuanchor="page1" class="active"><a href="#page1">Home</a></li>
			<li data-menuanchor="page2"><a href="#page2">About</a></li>
			<!-- <li data-menuanchor="page3"><a href="#page3">Resume</a></li> -->
			<li data-menuanchor="page4"><a href="#page3">Services</a></li>
			<li data-menuanchor="page5"><a href="#page4">RecentWorks</a></li>
			<!-- <li data-menuanchor="page6"><a href="#page5">Pricing</a></li> -->
			<li data-menuanchor="page7"><a href="#page5">Team</a></li>
			<!-- <li data-menuanchor="page8"><a href="#page8">Testimonial</a></li> -->
			<li data-menuanchor="page9"><a href="#page6">Contact</a></li>
		</ul>
	</div>
	<div class="sidebar bg_deepblack">
		<!-- <div class="logo text-center"><a href="#page1"><img class="nav-logo" src="/images/logo/14.png" alt="logo"></a></div> -->
		<span style="cursor:pointer" onclick="openNav()">&#9776;</span>
		<div class="socal_media mt_60">
			<ul>
				<li><a href="https://www.facebook.com/Dhaveeto" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
				<li><a href="https://wa.me/message/SYIYZBORAEXPC1" target="_blank" ><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
				<li><a href="https://instagram.com/dhavito_pixelz?igshid=YmMyMTA2M2Y=" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
		</div>			
	</div>
	<div class="contact_massage bg_deepblack">
		<a href="#page9"><i class="fa fa-envelope" aria-hidden="true"></i></a>
	</div>
	<!--	End Sidebar
	=======================================================-->
	<div id="pagepiling">
	    <!--	Start Slider
		===================================================-->
		<div id="slider" class="section bg_white">
			<div class="line-container">
				<div class="row">
					<div class="col-md-3 col-lg-3"><div class="liner"></div></div>
					<div class="col-md-3 col-lg-3"><div class="liner"></div></div>
					<div class="col-md-3 col-lg-3"><div class="liner"></div></div>
					<div class="col-md-3 col-lg-3"><div class="liner"></div></div>
				</div>
			</div>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>
			  <div class="carousel-inner overlay_three">
			    <div class="carousel-item active">
			      <div class="overlay_one pattan"><img  class="" src="/images/slider/001.jpg" alt="slide image"></div>
			      <div class="carousel-caption">
				    <h1 class="mb_20">Welcome to <br>Dhavito<span class="color_default">Pixel</span></h1>
				    <p class="mb_20">we act as an eyewitness. We bring this stories into the public domain.</p>
				    <a class="btn btn-default" href="https://wa.me/message/SYIYZBORAEXPC1" target="_blank">Hire us</a>
				  </div>
			    </div>
			    <div class="carousel-item">
			      <div class="overlay_one pattan"><img src="/images/slider/002.jpg" alt="slide image"></div>
			      <div class="carousel-caption">
				    <h1 class="mb_20">See my<br><span class="color_default">Recent Works</span></h1>
				    <p class="mb_20">We Offers Digital Services Such As Photography (Documentary & Cooperate Portraits), Videography, Graphic & Web Design...</p>
				    <a class="btn btn-default" href="#page4">Our Recent Works</a>
				  </div>
			    </div>
			    <div class="carousel-item">
			      <div class="overlay_one pattan"><img src="/images/slider/003.jpg" alt="slide image"></div>
			      <div class="carousel-caption">
				    <h1 class="mb_20">Let's<br><span class="color_default">Connect</span></h1>
				    <p class="mb_20">Get in touch with us.</p>
				    <a class="btn btn-default" href="#page6">Contact us</a>
				  </div>
			    </div>
			  </div>
			</div>
		</div>
	    <!--	End Slider
		===================================================-->
		<!--	Start About
		===================================================-->
	    <div id="about" class="section bg_black pp-scrollable">
	    	<div class="container-fluid">
	    		<div class="row">
	    			<div class="about2">
	    				<div class="col-md-12 col-lg-12">
	    					<div class="row">
	    						<div class="col-md-4 col-lg-4">
	    							<div class="overlay_one"><img src="/images/about/001.jpg" alt="image"></div>
	    						</div>
	    						<div class="col-md-8 col-lg-8">
	    							<div class="about_myself pb_60">
	    								<!--	Start Title
	    								================================-->
	    								<div class="main_title my_60">
											<h2 class="title color_white">About Us</h2>
											<p class="mt_15 color_lightgray">Dhavito Pixels was founded in the year 2020 by Thomas David Idzi, who brought together a team of brilliant creatives that specialize in different fields of photography, providing topnotch services to its customers.</p>											
										</div>
										<!--	End Title
	    								================================-->
										<div class="row">
		    								<div class="col-md-6 col-lg-6">
												<div class="myself color_secondery">
													<p>We are a team of young creatives, passionate about providing value and services to companies, brands, and organizations through Still and motion pictures.    We specialize in event documentation and cooperate portraits. Within the Last Few Years, we have been Able to Partner and work with various growing brands and developed organizations. We look forward to working with you and meeting your demands, tastes, and expectations.</p>
													
													<p class="pt_30">Across the years, we have been able to tell captivating stories through our images and visuals. We believe that teamwork makes the dream work.</p>
												</div>
				    						</div>
				    						<div class="col-md-6 col-lg-6">
				    							<div class="personal_info color_lightgray">
				    								<ul>
				    									<li><span class="color_secondery">Founder Name :</span>Thomas David Idzi</li>
														<li><span class="color_secondery">Email :</span> David5.idzi@gmail.com</li>
														<li><span class="color_secondery">Phone :</span> +234 901 980 0648</li>
														<!-- <li><span class="color_secondery">Date of Birth :</span> 14 December 1993</li>	 -->
				    								</ul>
				    							</div>
				    						</div>
		    							</div>
	    							</div>
	    						</div>
	    					</div>	
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    
		<!--	Start Services
		===================================================-->
	    <div id="services" class="section bg_black pp-scrollable">
	    	<div class="container">
	    		<div class="services my_60">
	    			<div class="row">
		    			<div class="col-md-12 col-lg-12">
		    				<!--	Start Title
		    				================================-->
		    				<div class="main_title pb_60">
								<h2 class="title color_white">Services</h2>
								<p class="mt_15 color_lightgray">We are a team of young creatives, passionate about providing value and services to companies, brands, and organizations.</p>											
							</div>
							<!--	End Title
		    				================================-->
		    			</div>
		    		</div>
		    		<div class="services_item owl-carousel">
						<div class="service_one text-center p_30 bg_deepblack color_secondery">
							<div class="srvicon bg_default color_white mx-auto mb_20"><span class="flaticon-website-design-symbol"></span></div>
							<h3 class="font-weight-bold color_white">Documentary photography</h3>
							<p>We represent real life events,people,locations.These includes all the raw, messy, and sometimes painful parts of life.</p>
						</div>
						<div class="service_one text-center p_30 bg_deepblack color_secondery">
							<div class="srvicon bg_default color_white mx-auto mb_20"><span class="flaticon-man-working-on-a-laptop-from-side-view"></span></div>
							<h3 class="font-weight-bold color_white">Portrait photography</h3>
							<p> We Capture and bring out a crafted photograph of a person's distinguishing facial .</p>
						</div>
						<div class="service_one text-center p_30 bg_deepblack color_secondery">
							<div class="srvicon bg_default color_white mx-auto mb_20"><span class="flaticon-happy"></span></div>
							<h3 class="font-weight-bold color_white">Events photography</h3>
							<p> We capturing an event that’s unfolding around you.</p>
						</div>
						<div class="service_one text-center p_30 bg_deepblack color_secondery">
							<div class="srvicon bg_default color_white mx-auto mb_20"><span class="flaticon-play-button"></span></div>
							<h3 class="font-weight-bold color_white">Videography</h3>
							<p>Lights. Camera. Action</p>
						</div>
						<div class="service_one text-center p_30 bg_deepblack color_secondery">
							<div class="srvicon bg_default color_white mx-auto mb_20"><span class="flaticon-internet"></span></div>
							<h3 class="font-weight-bold color_white">Web design</h3>
							<p>Developing user-friendly interfaces that are intuitive and easy to navigate.</p>
						</div>
						<div class="service_one text-center p_30 bg_deepblack color_secondery">
							<div class="srvicon bg_default color_white mx-auto mb_20"><span class="flaticon-editor"></span></div>
							<h3 class="font-weight-bold color_white">Graghic Design</h3>
							<p>logo creation, marketing materials like flyers and brochures, and book covers.</p>
						</div>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <!--	End Services
		===================================================-->
		<!--	Start Portfolio
		===================================================-->
	    <div id="portfolio" class="section bg_black pp-scrollable">
	    	<div class="container">
	    		<div class="portfolio2 my_60">
	    			<div class="row">
		    			<div class="col-md-12 col-lg-12">
		    				<!--	Start Title
		    				================================-->
		    				<div class="main_title pb_60">
								<h2 class="title color_white">See Our Recent Work</h2>
								<p class="mt_15 color_lightgray">We are a team of young creatives, passionate about providing value and services to companies, brands, and organizations</p>											
							</div>
							<!--	End Title
		    				================================-->
		    			</div>
		    			<div class="col-md-12 col-lg-12">
							<div class="my_portfolio" id="tab-panel"> 
		              			<!--Filter-->
								<div class="row">
									<div class="col-md-12">
										<div class="filters mb_30 w-100 color_lightgray">
											<ul class="filter-tabs d-inline-block">
												<li class="active filter" data-role="button" data-filter="all">All</li>
												<li class="filter" data-role="button" data-filter=".potraits">Potraits</li>
												<li class="filter" data-role="button" data-filter=".documentary">Documentary</li>
												<li class="filter" data-role="button" data-filter=".events">Events</li>
												<!-- <li class="filter" data-role="button" data-filter=".branding">Branding</li> -->
											</ul>
										</div>
									</div>
								</div>	
					              
								<div class="filter-list">
									<div class="portfolio-items">
										<div class="row">
										  	<div class="column mix mix_all graphic development potraits mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/001.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/001.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Potraits</li>
																	<!-- <li>wordpress</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic potraits mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/002.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/002.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Potraits</li>
																	<!-- <li>Wordpress</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all design wordpress potraits mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/003.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/003.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Potraits</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic wordpress potraits mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/004.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/004.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Potraits</li>
																	<!-- <li>wordpress</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design potraits mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/005.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/005.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Potraits</li>
																	<!-- <li>wordpress</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all potraits mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/006.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/006.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Potraits</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design potraits mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/007.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/007.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Potraits</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design events mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/008.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/008.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Events</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design documentary mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/017.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/017.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Documentary</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design events mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/009.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/009.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Events</li>
																	<li>potraits</li>
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design events mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/010.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/010.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Events</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design events mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/011.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/011.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Events</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design events mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/012.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/012.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Events</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design events mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/013.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/013.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Events</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design documentary mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/014.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/014.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Documentary</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design documentary mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/015.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/015.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Documentary</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="column mix mix_all graphic design documentary mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/016.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/016.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Documentary</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
											
											<div class="column mix mix_all graphic design documentary mb_30 col-md-4 col-lg-4">
												<div class="default-portfolio-item">
													<a href="/images/portfolio/018.jpg" data-fancybox="gallery">
														<img src="/images/portfolio/018.jpg" alt="image" />
														<div class="overlay-box">
															<span><i class="fa fa-eye" aria-hidden="true"></i></span>
															<div class="tag">
																<ul>
																	<li>Documentary</li>
																	<!-- <li>Web Development</li> -->
																</ul>
															</div>
														</div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>		
					        </div>
						</div>
		    		</div>
		    	</div>
		    </div>
		</div>
		<!--	End Portfolio
		===================================================-->
		<!--	Start Pricing
		===================================================-->
	    <!-- <div id="pricing" class="section bg_black pp-scrollable">
	    	<div class="container">
	    		<div class="pricing my_60">
	    			<div class="row">
		    			<div class="col-md-12 col-lg-12"> -->
		    				<!--	Start Title
		    				================================-->
		    				<!-- <div class="main_title pb_60">
								<h2 class="title color_white">Pricing</h2>
								<p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>											
							</div> -->
							<!--	End Title
		    				================================-->
		    			<!-- </div>
		    		</div>
		    		<div class="row">
		    			<div class="col-md-12 col-lg-12">
		    				<div class="price_table">
		    					<div class="row">
		    						<div class="col-md-12 col-lg-4">
			    						<div class="table text-center bg_deepblack color_secondery">
			    							<h4 class="color_white">Documentary</h4>
			    							<h1 class="color_default font-weight-bold"><sup>&#8358;</sup> 7299</h1>
			    							<h5 class="color_lightgray">Per Year</h5>
			    							<div class="list">
			    								<ul>
			    									<li>One Website Design</li>
			    									<li>One PSD Design</li>
			    									<li>Seo</li>
			    									<li>Responsive Design</li>
			    									<li>Free Google Fonts</li>
			    									<li>Free Font Awesome Icon</li>
			    									<li>Free Flat Icom</li>
			    								</ul>
			    							</div>
			    							<a class="btn btn-default w-100 mt_15" href="#">Book Us  Now</a>
			    						</div>
			    					</div>
			    					<div class="col-md-12 col-lg-4">
			    						<div class="table text-center bg_deepblack color_secondery">
			    							<h4 class="color_white">Potraits</h4>
			    							<h1 class="color_default font-weight-bold"><sup>&#x20A6;</sup> 10399</h1>
			    							<h5 class="color_lightgray">Per Year</h5>
			    							<div class="list">
			    								<ul>
			    									<li>One Website Design</li>
			    									<li>One PSD Design</li>
			    									<li>Seo</li>
			    									<li>Responsive Design</li>
			    									<li>Free Google Fonts</li>
			    									<li>Free Font Awesome Icon</li>
			    									<li>Free Flat Icom</li>
			    								</ul>
			    							</div>
			    							<a class="btn btn-default w-100 mt_15" href="#">Book Us Now</a>
			    						</div>
			    					</div>
			    					<div class="col-md-12 col-lg-4">
			    						<div class="table text-center bg_deepblack color_secondery">
			    							<h4 class="color_white">Events</h4>
			    							<h1 class="color_default font-weight-bold"><sup>&#8358;</sup> 499</h1>
			    							<h5 class="color_lightgray">Per Year</h5>
			    							<div class="list">
			    								<ul>
			    									<li>One Website Design</li>
			    									<li>One PSD Design</li>
			    									<li>Seo</li>
			    									<li>Responsive Design</li>
			    									<li>Free Google Fonts</li>
			    									<li>Free Font Awesome Icon</li>
			    									<li>Free Flat Icom</li>
			    								</ul>
			    							</div>
			    							<a class="btn btn-default w-100 mt_15" href="#">Book Us Now</a>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
	    </div> -->
	    <!--	End Pricing
		===================================================-->
		<!--	Start Team
		===================================================-->
	    <div id="team" class="section bg_black pp-scrollable">
	    	<div class="container">
	    		<div class="team my_60">
	    			<div class="row">
		    			<div class="col-md-12 col-lg-12">
		    				<!--	Start Title
		    				================================-->
		    				<div class="main_title pb_60">
								<h2 class="title color_white">Team</h2>
								<p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>											
							</div>
							<!--	End Title
		    				================================-->
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-md-12 col-lg-12">
		    				<div class="team_member owl-carousel">
		    					<div class="member">
	    							<img src="/images/about/001.jpg"  alt="image">
	    							<div class="data">
	    								<h4 class="bg_default color_primary font-weight-bold m-0">David Thomas</h4>
	    								<strong class="bg_primary color_white">Photographer</strong>
	    							</div>
	    							<div class="hover_overlay">
	    								<div class="border">
	    									<h4 class="color_default font-weight-bold text-center text-uppercase">David Thomas</h4>
		    								<strong class="color_white text-center d-block mb_15">Photographer</strong>
		    								<p class="color_white">I am highly creative and artistic and my excellent eye can be demonstrated with my work.My years of work have allowed me experience with all types of lenses and cameras and I understand how a picture can convey more meaning than words are able to..</p>
		    								<div class="socal_media">
												<ul>
													<li><a href="https://www.facebook.com/Dhaveeto" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
													<li><a href="https://wa.me/message/SYIYZBORAEXPC1" target="_blank" ><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
													<!-- <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
													<li><a href="https://instagram.com/dhavito_pixelz?igshid=YmMyMTA2M2Y=" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
												</ul>
											</div>
	    								</div>
	    							</div>
	    						</div>
			    				<div class="member">
	    							<img src="images/team/002.jpg" alt="image">
	    							<div class="data">
	    								<h4 class="bg_default color_primary font-weight-bold m-0">Grace Abunike</h4>
	    								<strong class="bg_primary color_white">Photographer</strong>
	    							</div>
	    							<div class="hover_overlay">
	    								<div class="border">
	    									<h4 class="color_default font-weight-bold text-center text-uppercase">Grace Abunike</h4>
		    								<strong class="color_white text-center d-block mb_15">Photographer</strong>
		    								<p class="color_white">I have a talent for capturing genuine emotion in my photos. I take pride in my ability to work well and give good result. I am also proficient in post-processing and photo editing.I believe that my skills and experience would be a valuable addition to you.</p>
		    								<div class="socal_media">
												<ul>
													<!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
													<li><a href="https://mobile.twitter.com/PhotographyGna" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<!-- <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
													<!-- <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
													<li><a href="https://www.instagram.com/gnapixels/" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
												</ul>
											</div>
	    								</div>
	    							</div>
	    						</div>
			    				<div class="member">
	    							<img src="images/team/003.jpg" alt="image">
	    							<div class="data">
	    								<h4 class="bg_default color_primary font-weight-bold m-0">Moses Bulus</h4>
	    								<strong class="bg_primary color_white">Web design</strong>
	    							</div>
	    							<div class="hover_overlay">
	    								<div class="border">
	    									<h4 class="color_default font-weight-bold text-center text-uppercase">Moses Bulus</h4>
		    								<strong class="color_white text-center d-block mb_15">Web design</strong>
		    								<p class="color_white">I am well-versed in using Figma, Illustrator, and other design software, and I am confident in my ability to create visually appealing and effective web designs.</p>
		    								<div class="socal_media">
												<ul>
													<!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
													<!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
													<li><a href="https://wa.me/2348109688701" target="_blank" ><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
													<!-- <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
													<!-- <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
												</ul>
											</div>
	    								</div>
	    							</div>
	    						</div>
	    						<!-- <div class="member">
	    							<img src="images/team/004.jpg" alt="image">
	    							<div class="data">
	    								<h4 class="bg_default color_primary font-weight-bold m-0">Donna Patricia</h4>
	    								<strong class="bg_primary color_white">Graphic Designer</strong>
	    							</div>
	    							<div class="hover_overlay">
	    								<div class="border">
	    									<h4 class="color_default font-weight-bold text-center text-uppercase">Donna Patricia</h4>
		    								<strong class="color_white text-center d-block mb_15">Graphic Designer</strong>
		    								<p class="color_white">Nisl vitae consectetuer dictumst mauris vitae, purus torquent praesent pharetra consectetuer nullam fames pede sapien litora condimentum pretium volutpat magnis facilisi hendrerit.</p>
		    								<div class="socal_media">
												<ul>
													<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
												</ul>
											</div>
	    								</div>
	    							</div>
	    						</div> -->
		    				</div> 
		    			</div>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <!--	End Team
		===================================================-->
		<!--	Start Testimonial
		===================================================-->
	    <!-- <div id="testimonial" class="section bg_black pp-scrollable">
	    	<div class="container">
	    		<div class="testimonial my_60">
	    			<div class="row">
		    			<div class="col-md-12 col-lg-12">
		    				<!--	Start Title
		    				================================-->
		    				<!-- <div class="main_title pb_60">
								<h2 class="title color_white">Testimonial</h2>
								<p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>											
							</div> -->
							<!--	End Title
		    				================================-->
		    			<!-- </div> -->
		    			<!-- <div class="col-md-12 col-lg-12">
		    				<div class="testimonial_item owl-carousel wow animated slideInUp">
		    					<div class="member_feedback p_30 bg_deepblack color_secondery">
									<div class="client_img"><img src="images/testimonial/01.jpg" alt="image"></div>
									<div class="star d-inline-block mt_30 color_default">
										<ul>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
										</ul>
									</div>
									<h5 class="color_white mb_15">Aisha Lexi</h5>
									<p>Sem duis platea erat feugiat vivamus nascetur sapien tortor. Sollic dictum ultric. Aliquam inceptos bibendum fringilla sodales. Molest lacin urna per aenean commodo sociosqu.</p>
								</div> -->
								<!-- <div class="member_feedback p_30 bg_deepblack color_secondery">
									<div class="client_img"><img src="images/testimonial/02.jpg" alt="image"></div>
									<div class="star d-inline-block mt_30 color_default">
										<ul>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
										</ul>
									</div> -->
									<!-- <h5 class="color_white mb_15">Kiara Paige</h5>
									<p>Sem duis platea erat feugiat vivamus nascetur sapien tortor. Sollic dictum ultric. Aliquam inceptos bibendum fringilla sodales. Molest lacin urna per aenean commodo sociosqu.</p>
								</div>
								<div class="member_feedback p_30 bg_deepblack color_secondery">
									<div class="client_img"><img src="images/testimonial/03.jpg" alt="image"></div>
									<div class="star d-inline-block mt_30 color_default">
										<ul>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
										</ul>
									</div>
									<h5 class="color_white mb_15">Lucas Noah</h5>
									<p>Sem duis platea erat feugiat vivamus nascetur sapien tortor. Sollic dictum ultric. Aliquam inceptos bibendum fringilla sodales. Molest lacin urna per aenean commodo sociosqu.</p>
								</div> -->
								<!-- <div class="member_feedback p_30 bg_deepblack color_secondery">
									<div class="client_img"><img src="images/testimonial/04.jpg" alt="image"></div>
									<div class="star d-inline-block mt_30 color_default">
										<ul>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
										</ul>
									</div>
									<h5 class="color_white mb_15">Grace Ruby</h5>
									<p>Sem duis platea erat feugiat vivamus nascetur sapien tortor. Sollic dictum ultric. Aliquam inceptos bibendum fringilla sodales. Molest lacin urna per aenean commodo sociosqu.</p>
								</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div> --> 
		<!--	End Testimonial
		===================================================-->
		<!--	Start Contact
		===================================================-->
	    <div id="contact" class="section bg_black pp-scrollable">
	    	<div class="container">
	    		<div class="contact pt_60">
	    			<div class="row">
		    			<div class="col-md-12 col-lg-12">
		    				<!--	Start Title
		    				================================-->
		    				<div class="main_title pb_60">
								<h2 class="title color_white">Contact</h2>
								<p class="mt_15 color_lightgray">Reach us on any of this medium</p>											
							</div>
							<!--	End Title
		    				================================-->
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-md-5 col-lg-4">
		    				<div class="contact_info">
		    					<ul>
		    						<li>
		    							<div class="contact_icon float-left"><i class="fa fa-phone" aria-hidden="true"></i></div>
		    							<div class="contact_text">
		    								<h6 class="font-weight-bold color_white">CALL</h6>
		    								<span class="color_secondery">+234 901 980 0648</span>
		    							</div>
		    						</li>
		    						<li>
		    							<div class="contact_icon float-left"><i class="fa fa-envelope" aria-hidden="true"></i></div>
		    							<div class="contact_text">
		    								<h6 class="font-weight-bold color_white">EMAIL</h6>
		    								<span class="color_secondery">David5.idzi@gmail.com</span>
		    							</div>
		    						</li>
		    						<li>
		    							<div class="contact_icon float-left"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
		    							<div class="contact_text">
		    								<h6 class="font-weight-bold color_white">ADDRESS</h6>
		    								<span class="color_secondery">210 Elizabeth St, Melbourne VIC 3000, Australia.</span>
		    							</div>
		    						</li>
		    					</ul>
		    				</div>
		    			</div>
		    			<div class="col-md-7 col-lg-8">
		    				<form class="form contact_message pb_60" id="contact-form" action="#" method="post">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<input class="form-control bg_black" type="text" name="name" placeholder="Your Name" />
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<input class="form-control bg_black" type="email" name="email" placeholder="Email Address" />
										</div>
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
										  <input class="form-control bg_black" type="text" name="subject" placeholder="Subject"/>
										</div>
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<textarea class="form-control bg_black" name="message" rows="7" placeholder="Message"></textarea>
										</div>							
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<input class="btn btn-default" id="send" value="Send Massage" type="submit"/>
										</div>
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="error-handel">
											<div id="success">Your email sent Successfully, Thank you.</div>
											<div id="error"> Error occurred while sending email. Please try again later.</div>
										</div>
									</div>
								</div>
							</form>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
	    	<div class="footer pt_60 background6">
	    		<div class="container">
	    			<div class="footer_bottom pb_60">
	    				<div class="row">
		    				<div class="col-md-12 col-lg-12">
		    					<div class="row">
		    						<div class="col-md-6 col-lg-6">
		    							<div class="footer-widget">
		    								<div class="footer_title pb_30">
												<h3 class="widget_title color_white">Latest Tweets</h3>					
											</div>
											<div class="twite color_secondery pb_30">
												<p class="color_white">Habitasse auctor proin netus nam maecenas aptent risus. Eu scelerisque pretium amet augue varius rutrum nonummy. <a class="color_default" href="#"> httm://envato/cprxetxyt</a></p>
												<i class="fa fa-clock-o" aria-hidden="true"></i><span>Posted On 13 Feb 2019</span>
											</div>
											<div class="twite color_secondery pb_30">
												<p class="color_white">Dolor mollis cum mi leo massa, nulla vehicula accumsan nisi etiam tristique fermentum erat purus. <a class="color_default" href="#"> http://envato/sotvoisd</a></p>
												<i class="fa fa-clock-o" aria-hidden="true"></i><span>Posted On 12 Feb 2019</span>
											</div>
		    							</div>
		    						</div>
		    						<div class="col-md-6 col-lg-6">
		    							<div class="footer-widget">
		    								<div class="footer_title pb_30">
												<h3 class="widget_title color_white">Newsletter Subscribe</h3>		
											</div>
											<div class="newsletter">
												<p class="color_white">Cursus iaculis interdum arcu habitant arcu rhoncus felis dictum tortor enim dignissim per. Risus ad sodales lorem habitasse. Dapibus vel litora rutrum dignissim nisi. Vitae, lacus imperdiet placerat volutpat inceptos.</p>
												<div class="subscribe mt_30">
													<div class="input-group">
												        <input type="email" class="form-control" placeholder="Enter your email">
												        <button class="btn btn-default" type="submit">Send</button>
											        </div>
												</div>
											</div>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
	    			</div>
	    		</div>
	    		<div class="copyright2 p_20 color_lightgray bg_deepblack text-center"><p><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></p></div>
	    	</div>
	    </div>
		<!--	End Contact
		===================================================-->
	</div>
	<!--	Js Links
	===================================================-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/jquery.pagepiling.min.js"></script>
	<script src="/js/custom.js"></script>
	<script>
		var deleteLog = false;
		//	Pagepiling js
		//=====================================================
		$(document).ready(function() {
	    	$('#pagepiling').pagepiling({
		    	menu: '#menu',
		    	anchors: ['page1', 'page2', 'page3', 'page4', 'page5','page6', 'page7', 'page8','page9'],
		    	loopTop: true,
		    	loopBottom: true
		  	});
	    });
		//	Sidebar Nav Menu js
		//=====================================================
		function openNav() {
		    document.getElementById("mysidenav").style.width = "150px";
		}
		function closeNav() {
		    document.getElementById("mysidenav").style.width = "0";
		}
    </script>
</body>

<!-- index-254:30-->
</html>